extends layout

block content
  div(class="row")
    div(class="page-header")
      div(class="form-group")
          button(type="submit" class="btn btn-success") Agregar
         
  div(class="row")
    div(class="col-md-10")
      h2 Curso
      .table-responsive
  table.table.table-hover
    thead
      tr
        th ID
        th Grupo
        
    tbody
      tr
        td 1
        td PE6DM
        
      tr
        td 2
        td IN5AM
       
      tr
        td 3
        td EL4AM
        
     

        
