extends layout

block content
  div(class="row")
    div(class="page-header")
      div(class="form-group")
          button(type="submit" class="btn btn-success") Agregar
         
  div(class="row")
    div(class="col-md-10")
      h2 Curso
      .table-responsive
  table.table.table-hover
    thead
      tr
        th ID
        th Curso
        
    tbody
      tr
        td 1
        td Mate
        
      tr
        td 2
        td Ciencias
       
      tr
        td 3
        td Sociales
        
      tr
        td 4
        td Quimica
       
      tr
        td 5
        td Estadistica
       
      tr
        td 6
        td Teoria
               
      tr
        td 7
        td Biologia
        
      tr
        td 8
        td Historia
              
      tr
        td 9
        td Tecnologia
               
      tr
        td 10
        td mate 2
        
      tr
       